{% extends 'my_app/base.html' %}
{% block title %} About {% endblock %}
{% block content %}
<section class="m-4 md:m-8 dark:bg-gray-800 dark:text-gray-100">
	<div class="container mx-auto p-4 my-6 space-y-2 text-center">
		<h2 class="text-5xl font-bold">Borrowing benefits everyone</h2>
		<p class="dark:text-gray-400">It is a peer-to-peer selling and renting platform that
			 connects individuals who own underused items with people who need them temporarily.
			 The platform benefits everyone.  Lenders make money, and borrowers save money.
		</p>
	</div>
	<div class="container mx-auto grid justify-center gap-4 sm:grid-cols-2 lg:grid-cols-3">
		<div class="flex flex-col items-center p-4">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-8 h-8 dark:text-violet-400">
				<path fill-rule="evenodd" d="M11.3 1.046A1 1 0 0112 2v5h4a1 1 0 01.82 1.573l-7 10A1 1 0 018 18v-5H4a1 1 0 01-.82-1.573l7-10a1 1 0 011.12-.38z" clip-rule="evenodd"></path>
			</svg>
			<div class="my-3 text-3xl font-semibold text-center">
				<p>Borrow things from anyone instead of buying</p>
				
			</div>
		</div>
		<div class="flex flex-col items-center p-4">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-8 h-8 dark:text-violet-400">
				<path fill-rule="evenodd" d="M11.3 1.046A1 1 0 0112 2v5h4a1 1 0 01.82 1.573l-7 10A1 1 0 018 18v-5H4a1 1 0 01-.82-1.573l7-10a1 1 0 011.12-.38z" clip-rule="evenodd"></path>
			</svg>
			<div class="my-3 text-3xl font-semibold text-center">
				<p>items with people who need them temporarily</p>
			
			</div>
		</div>
		<div class="flex flex-col items-center p-4">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-8 h-8 dark:text-violet-400">
				<path fill-rule="evenodd" d="M11.3 1.046A1 1 0 0112 2v5h4a1 1 0 01.82 1.573l-7 10A1 1 0 018 18v-5H4a1 1 0 01-.82-1.573l7-10a1 1 0 011.12-.38z" clip-rule="evenodd"></path>
			</svg>
		
			<div class="my-3 text-3xl font-semibold text-center">
				<p>presents the opportunity to rent rather than buy items</p>
				
			</div>
		</div>
		
	</div>
</section>
{% endblock %}