{% extends 'my_app/base.html' %}
{% block title %} {{product.title}} {% endblock %}
{% block content %}
  {% if product.image %}
   <img
    alt=""
    src="{{product.image.url }}" 
    class="h-56 w-full object-contain lg:h-72"
   /> 
  {%endif%}

  <div class="p-6">
    <h3 class="mt-4 text-lg font-bold">{{product.title}}</h3>

    <p class="mt-2 text-sm text-gray-700">${{product.get_display_price}}
      -
      <a href="{% url 'userprofile:user_detail' product.user.id %}">{% firstof  product.user.get_full_name   product.user.username %}</a> 
    </p>
    {% if product.description %}
    <p class="mt-4 text-gray-500">{{product.description}}</p>
     {% endif %}
     <a href="{% url 'product:add_to_cart' product.id %}">
      <button
      type="button"
      class="mt-4 block w-full rounded-sm bg-gray-500 p-4 text-sm font-medium"
    >
      Add to Cart
    </button>
  
 

   
  </div>
</a>
     
{% endblock %}