{% extends 'my_app/base.html' %}
{% block title %}  {% endblock %}
{% block content %}

<h1 class="items-center text-center mt-6 mb-6 w-full text-3xl font-bold text-gray-600 leading-tight"></h1>
<form  method="post" action="."class="items-center bg-gray-100 text-center container w-full max-w-xl p-8 mx-auto space-y-6 rounded-md shadow dark:bg-gray-900 ng-untouched ng-pristine ng-valid" >
    {% csrf_token %}
  <div class="field">
        <div class="field-container">
          <p class="field-title">Username</p>
          <input type="text" name="username" class="content-field" id="" placeholder="Username" />
        </div>
      </div>
      
      <div class="field">
        <div class="field-container">
          <p class="field-title">Password</p>
          <input type="password" name="password" class="content-field" id="" placeholder="Password" />
        </div>
      </div>
      
      <button  type="submit" class="self-center px-8 py-3 text-lg rounded focus:ring hover:ring focus:ring-opacity-75 bg-violet-400 text-gray-900 focus:ring-violet-400 hover:ring-violet-400">Register</button>
    </div>
    </form>
</form>
{% endblock %}
