{% extends 'my_app/base.html' %}
{% block title %} Sign up  {% endblock %}
{% block content %}

<h1 class="items-center text-center mt-6 mb-6 w-full text-3xl font-bold text-gray-600 leading-tight">Sign up</h1>
<form  method="post" action="." class="items-center text-center container w-full max-w-xl p-8 mx-auto space-y-6 rounded-md shadow dark:bg-gray-900 ng-untouched ng-pristine ng-valid" >
    {% csrf_token %}
    {{form.as_p}}
 <button class="self-center px-8 py-3 text-lg rounded focus:ring hover:ring focus:ring-opacity-75 bg-violet-400 text-gray-900 focus:ring-violet-400 hover:ring-violet-400">Sign up</button>
</form>
{% endblock %}
